* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    background-color: #69ccde;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titulo {
    font-size: 1.8rem;
}
h2 {
    padding: 32px;
}

form {
    max-width: 400px;
    font-size: 0.8rem;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.input-group {
    padding: 4px;
    margin: 4px;
}

.input-group input {
    margin-top: 4px;
}

.input-group select {
    margin-top: 8px;
}

.input-group  p{
    font-size: 0.6rem;
}

.input-group  label{
    font-weight: bold;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container button {
    width: 60%;
    height: 32px;
    margin: 8px;
    font-weight: bold;
    
}

.message-error {
    color: red;
    opacity: 0;
    transition: all linear 0.5s;
}
.message-error.invalid {
    opacity: 1;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    font-size: 0.8rem;
    margin: 0 auto;
    background-color: #69ccde;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message-container button {
    padding: 16px;
    font-weight: bold;
}

.button-message-container  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #69ccde;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
}

.button-message-container button {
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
}

.button-message-container button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



