* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

.header {
    width: 100%;
    background-color: grey;
}
.header_nav-ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header_nav-ul li {
    padding: 16px;
    font-weight: bold;
}
.header_nav-ul li a {
    color: white;
    text-decoration: none;
}


h1 {
    text-align: center;
}

form {
    border: 1px solid black;
    max-width: 400px;
    font-size: 0.8rem;
    margin: 0 auto;
}

.input-group {
    padding: 4px;
    margin: 4px;
}

.input-group input {
    margin-top: 4px;
}

.input-group select {
    margin-top: 8px;
}

.input-group  p{
    font-size: 0.6rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container button {
    width: 60%;
    margin: 2px;
}

.message-error {
    color: red;
    opacity: 0;
    transition: all linear 0.5s;
}
.message-error.invalid {
    opacity: 1;
}


.statistics-container {
    border: 1px solid black;
    max-width: 800px;
    font-size: 0.8rem;
    margin: 0 auto;
}
























/* .message-error {
    background: red;
    color: white;
    opacity: 0;
    transition: all linear .5s;
    &.invalid {
      opacity: 1;
    }
  }
  
.line-error {
    height: 0;
    border-bottom: 1px solid;
    &.invalid {
      border-color: red;
    }
    &.valid {
      border-color: green;
    }
  }
   */
