<h1>Estadísticas</h1>
<br>
<div class="button-container">
  <button (click)="redirectSurvey()">Responder encuesta nuevamente</button>
</div>
<div class="data-container">
  <section class="section-respondidas">
    <h3>Cantidad de encuestas respondidas</h3>
    <h4>{{ numberSurveys }}</h4>
  </section>
  <section>
    <h3>Tiempo promedio por red social</h3>
    <div class="avg-container">
      <ul>
        <li><h4>Facebook: {{ arrayPlusAvgFb }} horas de AVG</h4></li>
        <li><h4>Whatsapp: {{ arrayPlusAvgWs }} horas de AVG</h4></li>
        <li><h4>Twitter: {{ arrayPlusAvgTw }} horas de AVG</h4></li>
        <li><h4>Instagram: {{ arrayPlusAvgIg }} horas de AVG</h4></li>
        <li><h4>Tiktok: {{ arrayPlusAvgTik }} horas de AVG</h4></li>
      </ul>
    </div>
  </section>
  <section>
    <h3>Rango de edad que mas utiliza cada red social</h3>
    <h4>Facebook: {{ moreUsed['facebook']}}</h4>
    <h4>Whatsapp: {{ moreUsed['whatsapp']}}</h4>
    <h4>Twitter: {{ moreUsed['twitter']}}</h4>
    <h4>Instagram: {{ moreUsed['instagram']}}</h4>
    <h4>Tiktok: {{ moreUsed['tiktok']}}</h4>
  </section>
</div>
<br>

<div class="statistics-container">
  <h3>Redes sociales favoritas y menos queridas</h3>
    <ngx-charts-advanced-pie-chart
    [view]="view"
    [results]="chartResults1"
    [gradient]="gradient"
    >
  </ngx-charts-advanced-pie-chart>
</div>
<br>
<br>
<h3 style="text-align: center">Tabla de resultados de encuestados</h3>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th class="cell-pad">ID</th>
        <th class="cell-pad">Correo</th>
        <th class="cell-pad">Genero</th>
        <th class="cell-pad">Edad</th>
        <th class="cell-pad">Red social favorita</th>
        <th class="cell-pad">H. Facebook</th>
        <th class="cell-pad">H. Whatsapp</th>
        <th class="cell-pad">H. Twitter</th>
        <th class="cell-pad">H. Instagram</th>
        <th class="cell-pad">H. Tiktok</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let register of registers, index as i">
        <td class="cell-pad">{{ i + 1 }}</td>
        <td class="cell-pad">{{ register['email'] }}</td>
        <td class="cell-pad">{{ register['sex'] }}</td>
        <td class="cell-pad">{{ register['age'] }}</td>
        <td class="cell-pad">{{ register['socialMedia'] }}</td>
        <td class="cell-pad">{{ register['timeFb'] }}</td>
        <td class="cell-pad">{{ register['timeWs'] }}</td>
        <td class="cell-pad">{{ register['timeTw'] }}</td>
        <td class="cell-pad">{{ register['timeIg'] }}</td>
        <td class="cell-pad">{{ register['timeTik'] }}</td>
      </tr>
    </tbody>
  </table>
</div>
